.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
build/
dist/
**/build/
**/dist/
desktop-app/log.txt
desktop-app/session.json
desktop-app/secrets.json
log.txt
session.json
secrets.json
*.log
Client/
build-*/
dist-*/
